{% extends "base2.html" %} 
{% block title %}
View Customers - {{config['SITE_NAME']}}
{% endblock %} 
{% block script %}

<script>
  window.addEventListener('load', 
  function() { 
    toggleMenu();
  }, false);

</script>
<style>
  .view {
    margin: auto;
    width: 100%;
  }
  .wrapper {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 1px solid gray;
  }
</style>

{% endblock %} 

{% block heading %}
View customers
{% endblock %}

{% block content %}
<div class="contentBox">
<div class="content">

<div class="view">
  <div class="wrapper">
    <div style="overflow-x: auto">
      <table class="table table-hover" style="border: 1px solid grey; font-family: Arial, sans-serif; border-collapse: collapse; border-radius: 100px;">
        <thead>
          <tr style="text-align: center; vertical-align: middle;background-color: rgb(228, 228, 228);">
            <th scope="col" class="sticky-col" style="border: 1px solid grey; border-collapse: collapse;position: relative;background-color:  rgb(228, 228, 228);">Name<br />(Click to view)</th>
            <th scope="col" style="border: 1px solid grey; border-collapse: collapse;position: relative;">Email</th>
            <th scope="col" style="border: 1px solid grey; border-collapse: collapse;position: relative;">Phone</th>
            <th scope="col" style="border: 1px solid grey; border-collapse: collapse;position: relative;">Address</th>
            <th scope="col" style="border: 1px solid grey; border-collapse: collapse;position: relative;">Post Code</th>
            <th scope="col" style="border: 1px solid grey; border-collapse: collapse;position: relative;">Username</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr style="text-align: center">
            <td class="sticky-col" scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 0px;background-color:  rgb(228, 228, 228);z-index: 1;">
              <a
                class="nav-item nav-link"
                id="view_owner"
                href="/owner/{{customer.id}}"
                >{{ customer.first_name }} {{ customer.surname }}</a
              >
            </td>
            <td scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 100px;word-wrap: break-word;position: relative;">{{ customer.email }}</td>
            <td scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 100px;word-wrap: break-word;position: relative;">{{ customer.phone }}</td>
            <td scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 100px;word-wrap: break-word;position: relative;">{{ customer.address_1 }}</td>
            <td scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 100px;word-wrap: break-word;position: relative;">{{ customer.post_code }}</td>
            <td scope="col" style="border: 1px solid grey; border-collapse: collapse; border-radius: 100px;word-wrap: break-word;position: relative;">{{ customer.username }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
