{% extends "base.html" %} {% block title %}Home - {{config['SITE_NAME']}}{% endblock %} {% block content
%}

<h1 align="center" style="margin-top: 5%">Notes</h1>
<ul class="list-group list-group flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">{{ note.data }}</li>
  <p style="font-size: 50%; text-align: right">{{note.date}}</p>
  {% endfor %}
</ul>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

{% endblock %}
